<!DOCTYPE html>
<html>
<!--sup-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>InANutshell</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tiny.cloud/1/l8zjrawn1dbffyt6rbg04a479f4n9h183yx86efcd3lvugqk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/script/scriptIndex.js"></script>
  <script src="/script/script.js"></script>
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
      
      var questionsArray = [];
      var isUser = false;
      
      '<% for (var idx = 0; idx < data.questions.length; idx++) { %>'
        questionsArray['<%- idx %>'] = {
          'id': '<%- data.questions[idx].id %>',
          'likes': '<%- data.questions[idx].likes %>',
          'dislikes': '<%- data.questions[idx].dislikes %>',
          'question': '<%- data.questions[idx].question %>',
          'timeCreated': '<%- data.questions[idx].timeCreated %>',
          'user': {
            'userID': '<%- data.questions[idx].user.userID %>',
            'displayName': '<%- data.questions[idx].user.displayName %>'
          }
        };
      '<% } %>'

      '<% if (data.user) { %>'
        isUser = true;
        var userID = '<%- data.user.userID %>';
        var userEmail = '<%- data.user.userEmail %>';
        var displayName = '<%- data.user.displayName %>';

        var likes = {};
        '<% for (var idx = 0; idx < data.questions.length; idx++) { %>'

          '<% if (data.questions[idx].usersLiked[data.user.userID]) { %>'
            likes['<%- data.questions[idx].id %>'] = '<%- data.questions[idx].usersLiked[data.user.userID] %>';
          '<% } %>'

        '<% } %>'

      '<% } %>'
    </script>
    
    <div class="topBar">
        <button onclick="location.href = '/'" class="homeButton">
          <img src="/images/websiteLogo.png" alt="Home" id="logo">
          <style>
            #logo{
              height: 100%;
              width: 100%;
            }
          </style>
        </button>
        <form class="example" action="action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <% if (!data.user) {%>
          <button onclick="signupPopup()" class="signup">Signup</button>
          <button onclick="loginPopup()" class="login">Login</button>
        <% } %>
        <% if (data.user) {%>
          <div class="dropdown">
            <button onclick="dropdownOnClick()" class="dropdownButton" id="user">
              <%- data.user.displayName %>
            </button>
            <div id="userDropdown" class="dropdownOnClick">
              <a href="">Settings</a>
              <a href="">About</a>
              <% if (data.user) {%>
                <a href="" onclick="logout()">Log out</a>
              <% } %>
            </div>
          </div>
        <% } %>
    </div>
    <div class="askField">
      <% if (!data.user) { %>
        <div id="mustLogIn">You Must Log In First</div>
        <style>
          #mustLogIn {
            width: 100%;
            height: 100%;
            z-index: 3;
          }
        </style>
      <% } %>
        <!--<textarea type="text" class="askFieldInput" id="askFieldInput"></textarea>
        <br>
        <button id="B">B</button>
        <button id="I">I</button>
        <button id="U">U</button>
        <select name="cars" id="cars">
            <option> <div id="test">testin</div></option>
            <option> <div id="test">testin</div></option>
            <option> <div id="test">testin</div></option>
        </select>
        <input type="file" id="upload" hidden/>
        <label for="upload">Choose file</label>
        <button>Clear</button>
        <button>words</button>
        <button>Post</button>
      -->
      <div id="askFieldContainer">
        <% if (!data.user) { %>
          <style>
            #askFieldContainer {
              -webkit-filter: blur(5px);
              -moz-filter: blur(5px);
              -o-filter: blur(5px);
              -ms-filter: blur(5px);
              filter: blur(5px);
            }
          </style>
        <% } %>
        <textarea id="questionField"></textarea>
        <script>
          tinymce.init({
            branding: false,
            menubar: false,
            resize: false,
            selector: '#questionField',
            //plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
            plugins: 'image link wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat | wordcount',
          });
        </script>
        <% if (data.user) { %>
          <textarea id="title" rows="1"></textarea>
          <input id="postQuestion" type="button" value="Ask!" onclick="post()"/>
        <% } %>
      </div>
    </div>
    <div id="submitPopup" class="popup">
      <div id="questionPosted">
        <span id="closeQuestion" class="close">&times;</span>
        <p>Question submitted!</p>
      </div>
    </div>

    <div id="signInPopup" class="popup">
      <div id="signInUI">
        <span class="close" id="closeSignIn">&times;</span>
        <label for="email">Email:</label><br>
        <input type="text" id="signInEmail" name="email" value=""><br>
        <label for="password">Password:</label><br>
        <input type="password" id="signInPassword" name="password" value=""><br><br>
        <input type="button" value="Submit" onclick="login()">
        <p id="signInError">asdf</p>
      </div>
    </div>
    <div id="signUpPopup" class="popup">
      <div id="signUpUI">
        <span class="close" id="closeSignUp">&times;</span>
        <label for="username">Username:</label><br>
        <input type="text" id="signUpUsername" name="username" value=""><br>
        <label for="email">Email:</label><br>
        <input type="text" id="signUpEmail" name="email" value=""><br>
        <label for="password">Password:</label><br>
        <input type="password" id="signUpPassword" name="password" value=""><br><br>
        <input type="button" value="Submit" onclick="signup()">
        <p id="signUpError">asdf</p>
      </div>
    </div>
    <div class="notification">
      <h2>Notifications:</h2>
    </div>
    <div class="questionSort">
      <select id="sortQuestions">
        <option value="timeCreated">Date Posted</option>
        <option value="likes">Likes</option>
        <option value="dislikes">Dislikes</option>
      </select>
      <select id="sortAscending">
        <option value="false">High to low</option>
        <option value="true">Low to high</option>
      </select>
    </div>
    <div id="questions">
      <!-- <% for(var idx = 0; idx < data.questions.length; idx++) { %>
        <div class="question">
          <table>
            <tr>
              <td>
                <% if (data.user) { %>
                  <button class="like" id="like-<%- data.questions[idx].id %>" onclick="preLike('<%- data.questions[idx].id %>')"
                    <% if(data.questions[idx].usersLiked[data.user.uid] == 1) { %>
                      style="background-color: red;"
                    <% } %>
                  >
                    <p>
                      <%- data.questions[idx].likes %>
                    </p> ^
                    <script>
                      
                    </script>
                  </button>

                  <button class="dislike" id="dislike-<%- data.questions[idx].id %>" onclick="preDislike('<%- data.questions[idx].id %>')"
                    <% if(data.questions[idx].usersLiked[data.user.uid] == 2) { %>
                      style="background-color: red;"
                    <% } %>
                  >
                    <p>
                      <%- data.questions[idx].dislikes %>
                    </p> v
                    <script>
                    </script>
                  </button>

                <% } else { %>
                  <p class="like">
                    <%- data.questions[idx].likes %> ^
                  </p>
                  <p class="dislike">
                    <%- data.questions[idx].dislikes %> v
                  </p>
                <% } %>
              </td>
              <td>
                <button onclick="location.href = '/question/<%- data.questions[idx].id %>'" class="questionButton">
                  <strong><%- data.questions[idx].question %></strong>
                </button>
              </td>
            </tr>
          </table>
          <% if (idx < data.questions.length - 1) { %>
            <hr>
          <% } %>
        </div> -->
      <% } %>
    </div>

    <script>
      var closeQuestionPopup = document.getElementById("closeQuestion");
      var submitQuestionPopup = document.getElementById("submitPopup");

      var closeSignInPopup = document.getElementById("closeSignIn");
      var signInPopup = document.getElementById("signInPopup");

      var closeSignUpPopup = document.getElementById("closeSignUp");
      var signUpPopup = document.getElementById("signUpPopup");

      var sortQuesSelect = document.getElementById('sortQuestions');
      var sortAscSelect = document.getElementById('sortAscending');

      sortQuesSelect.onchange = (event) => {
        questionsArray = sort(questionsArray, event.target.value, sortAscSelect.value);
        generateQuestions();
      }
      sortAscSelect.onchange = (event) => {
        questionsArray = sort(questionsArray, sortQuesSelect.value, event.target.value);
        generateQuestions();
      }

      closeQuestionPopup.onclick = function() {
        submitQuestionPopup.style.display = "none";
      }
      closeSignInPopup.onclick = function() {
        signInPopup.style.display = "none";
      }
      closeSignUpPopup.onclick = function() {
        signUpPopup.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == submitQuestionPopup) {
          submitQuestionPopup.style.display = "none";
        }
        if (event.target == signInPopup) {
          signInPopup.style.display = "none";
        }
        if (event.target == signUpPopup) {
          signUpPopup.style.display = "none";
        }
        if (!event.target.matches('.dropdownButton')) {
          var dropdowns = document.getElementsByClassName("dropdownOnClick");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

      generateQuestions();
    </script>
</body>

</html>