<!DOCTYPE html>
<html>
<!--sup-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <% if (data.error) {%>
        <p><%= data.error %></p>
    <% } %>
    <% if (!data.error) {%>
        <p>no error</p>
    <% } %>
    <form action="/signup" method="post">
        <input type="submit" value="Submit">
    </form>
    <script src="/script/script.js"></script>
</body>

</html>
