/* 
#D8D5DB will be the color for when you hover over a button
#A69C61 will be the color for colored accents
#ccc or plain white will be the color of the general textboxes
*/


/* 
#D8D5DB will be the color for when you hover over a button
#A69C61 will be the color for colored accents
#ccc or plain white will be the color of the general textboxes
*/


html, body {
    
    
    background-color: #d3d3d3;
    /* background-color: #F5B700; */
    /* background-color: #F5B700; */
    /* background-color: #F5B700; */
    /* background-color: #F5B700; */
    /* background-color: #F5B700; */

    /* background-color: #E2C391; */
    /* background-color: #26547C; */
    /* background-color: #F5B700; */
    /* background-color: #CBAC88; */

    /* background-color: #404634; */
    width: 100%;
    height:100%;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    margin: 0px;
}

body {
    /* background: linear-gradient(-45deg, #d5e6ed, #dfe6fb, #dfe8ed); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.askfield{
    resize: none;
}
textarea {
    resize: none;
}
#title {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 1%;
    margin-right: 1%;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 4px;
}
#postQuestion {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 1%;
    margin-right: 1%;
    width: 19%;
    float: right;
}

#tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#tags li button {
    all: initial;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
    z-index: 3;
}
#tags li button:hover {
    all: initial;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #bdbdbd;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
    z-index: 3;
}

#addTagsSearch li button {
    all: initial;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
    z-index: 3;
}
#addTagsSearch li button:hover {
    all: initial;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #bdbdbd;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
    z-index: 3;
}

.homeButton:hover {
    /* background-color: red; */
    background-color: #D8D5DB;
}

.signup:hover {
    background-color: #D8D5DB;
}

.login:hover {
    background-color: #D8D5DB;
}

.dropdownButton:hover {
    background-color: #D8D5DB;
}

.askFieldInput:hover {
    background-color: #D8D5DB;
}

.topBar {
    /* background: linear-gradient(-45deg, #568aa6, #4400ff, #4a7a96); */
    background: white;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-left: 1%;
    margin-top: 10px;
    border-radius: 10px;
    width: 98%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.askField {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background: white;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    margin-left: 1%;
    margin-top: 10px;
    border-radius: 10px;
    width: 98%;
    display: inline-block;
}
#notifications {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background: white;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin-right: 1%;
    margin-top: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 200px;
    width: 30%;
    float: right;
    overflow-y: scroll;
}

.questionSort {
  /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
  background: white;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 30px;
    width: 67%;
}
.answerSort {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background: white;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 30px;
    width: 67%;
}
.questionTitle {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background-color: white;
    border-radius: 10px;
}
.questionText {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background-color: white;
    border-radius: 10px;
}

#questions {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background: white;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 10px;
    max-height: 300px;
    min-height: 50px;
    margin-top: 7px;
    border-radius: 10px;
    height: 400px;
    width: 67%;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;
}
#answers {
    /* background: linear-gradient(-45deg, #00aaff, #001eff, #00a6ff); */
    background: white;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 10px;
    max-height: 300px;
    min-height: 50px;
    margin-top: 7px;
    border-radius: 10px;
    height: 400px;
    width: 67%;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;
}

.question button {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: left;                              
    border-radius: 0px;
}
.question button:hover {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: left;                               
    border-radius: 0px;
    background-color: #D8D5DB;
}

.Upvote {
  margin-left: 1%;
  margin-top: 30px;
  height: 50px;
}
.upvote button:hover {
  margin-left: 1%;
  margin-top: 30px;
  height: 50px;
  background-color: #D8D5DB;
}

form {
    height: 100%;
    width: 100%;
}

#searchBar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    width: 90%;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}

/* form.example button{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: left;
    border-radius: 0px;
} */

#searchButton {
    float: right;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background: #A69C61;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

#searchButton:hover {
    float: right;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #b4ae8c;
    color: white;
    font-size: 17px;
    border: 1px solid #b4ae8c;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* .askFieldInput {
    box-sizing: border-box;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 13px;
    margin-right: 13px;
    width: calc(100% - 26px);
    padding: 0px;
    resize: none;
    border: 2px solid #ccc;
    border-radius: 4px;
} */

button {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    height: calc(100% - 14px);
    border: 2px solid #ccc;
    border-radius: 4px;
}
.questionDisplay {
    width: 67%;
}

/* .button :hover {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;                                    BRUH WHY WONT IT WORK. I just want the home button to change color when hovered
    margin-right: 7px;
    height: calc(100% - 14px);
    border: 2px solid #ccc;
    border-radius: 4px;
    background: rgb(27, 143, 27);
  } */

.questionTitle {
    margin-left: 1%;
    width: 318%;
}

.questionText {
    margin-left: 1%;
    margin-top: 0px;
    width: 318%;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

label{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    height: calc(100% - 14px);
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.label:hover {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    height: calc(100% - 14px);
    background-color: #D8D5DB;
    border: 2px solid #D8D5DB;
    border-radius: 4px;
  }

.dropdownOnClick {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    right: 0;
}
.dropdownOnClick a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.show {
    display: block;
}

.popup {
    display: none;
    position: fixed; 
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#questionPosted {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}
#tagsUI {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}
#signInUI {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}
#signUpUI {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.questionButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}
td {
    padding: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 4px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
